body {
	background-color: aquamarine;
}

.calculator {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    margin: 100px auto 0;
    text-align: center;
    background-color: rgb(50, 205, 120);
    box-shadow: 0 0 30px grey;
    border-radius: 4px;
}

.calculator__form {
    height: 100%;
    padding: 20px;
}

.calculator__row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.calculator__display {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid rgb(21, 4, 130);
    padding: 10px 0px;
    text-align: right;
    font: 700 16px/1 Arial, sans-serif;
    color: darkslateblue;
    background-color: whitesmoke;
}

.calculator__key {
    width: 41px;
    height: 35px;
    cursor: pointer;
    border: none;
    transition: all .2s;
	text-transform: uppercase;
	font-weight: bold;
}
.calculator__backspace {
	width: 100px;
}

.calculator__key--equal {
    width: 98px;
}

.calculator__key:hover {
    background-color: rgb(249, 249, 150);
    font-weight: 700;
}

.calculator__key::-moz-focus-inner {
    border: none
}